<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}convert currency{% endblock %}</title>
    <link rel="stylesheet" 
          href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
     <link rel="stylesheet" 
          href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"> 

</head>
<body class="bg-light">
    <nav class="navbar navbar-light" style="background-color: rgb(74, 121, 74)">
        <a class="navbar-brand text-light" href="/"><i><b>CONVERTER</b></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            </div>
        </div>
    </nav>
    {% block content %} {% endblock %}
</body>
</html>